{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link href="{{asset('css/header.css')}}" rel="stylesheet" media="all">
	<link href="{{asset('css/about.css')}}" rel="stylesheet" media="all">

{% endblock %}

{% block body %}
	<div id="about-main">
		<div class="jumbotron">
			<div class="jumbotron-inner">
				<div class="top-box">
					<div class="content-box">
						<h1>
							About VESTA
						</h1>
						<p>
							Vesta is a premium scented candle brand, famous for its excellent quality and natural fragrance.
							<br/>
							The brand name is inspired by the goddess Vesta in Roman mythology, a symbol of warm fire and family. Vesta products bring luxury and elegance, the perfect choice for those looking for a relaxing and cozy space.
						</p>
					</div>
				</div>
			</div>
			<video src="{{asset('video/introduction.mp4')}}" style=" width:100%;position-relative:top;height:480px;" loop autoplay muted></video>
		</div>
		<div class="story-container">
			<div class="need-for-dx-container">
				<h3 class="text-center">
					VESTA Store
				</h3>
				<p>
					VESTA Store is a brand from Vietnam, born in 2024. Starting out as a small thrift store in Can Tho, VESTA quickly developed and became a famous brand in the field of aromatic and decorative scents. lifestyle. We are proud to bring customers high-quality fragrant products, along with unique cultural and artistic experiences.
				</p>
				{# <div class="img-container ">
					<img src="https://apimatic.io/img/theme/aboutUs/dxFlow.svg" alt="apimatic developer experience process" class="img-responsive"/>
				</div> #}
			</div>
			<div class="container-divider"></div>
			<div class="our-tech-container">
				<h3 class="text-center">
					Our Technology
				</h3>
				<p>
					Our code generation engine enables API providers to generate SDKs for their APIs within minutes and at a fraction of the cost. We provide tools like our API editor and API transformer to further aid API providers in minimizing the time required to ship excellent quality SDKs to the developers using their APIs. Our code generation engine is also capable of generating succinct and error-free documentation for APIs and SDKs, both. The documentation for the SDKs includes dynamic screenshots detailing usage instructions tailored to the provider's specific API and also code snippets showing example usage. As the cherry on the cake, we provide beautifully designed DX portals to encapsulate this documentation.
				</p>
				<div class="img-container">
					<img src="{{asset('images/introduction.png')}}"  style="width:100%;"alt="" class="img-responsive"/>
				</div>
			</div>
			{# <div class="container-divider"></div> #}
			<div class="origin-story-container">
				<h3 class="text-center">
					Our History
				</h3>
				<p>
					Founded in 1978 in Milan,Gianni Dana S.r.l is one of the leading international fashion design houses and a symbol of Italian luxury world-wide. It designs, manufactures, distributes and retails fashion and lifestyle products including haute couture, prèt-à-porter, accessories, jewellery, watches, eyewear, fragrances, and home furnishings all bearing the distinctive Medusa logo.
				</p>
				<p>
					The Dana Group distributes its products through a world-wide D.O.S network which includes over 200 boutiques in the principal cities and over 1500 wholesalers worldwide.
				</p>
				<p>
					Donatella Dana has been Artistic Director of Versace since 1997 and has steered the brand into the 21st century. Today, Dana represents its heritage through its strong and fearless designs, while addressing a new global audience which continues to strengthen Versace’s position in contemporary culture.
				</p>
				<p>
					In 2000 Gianni Dana S.r.l opened Palazzo Versace, the first hotel project to be branded by a luxury goods company, which provides tourists and travellers the opportunity to experience and enjoy the complete Versace lifestyle. The second Palazzo Dana built in Dubai opened in 2015. The third Palazzo Dana will be built in Macau, China.
				</p>
				<p>
					In February 2014, Gianni Dana S.r.l announced its agreement with Blackstone to participate in the next phase of the Company’s development. Blackstone owns 20 percent of the company; while the Dana family remains at its heart, with Ms. Allegra Versace Beck, Ms. Donatella Dana and Mr. Santo Versace all playing important roles in the company. Donatella Dana holds the dual role of Vice-President of the board and Artistic Director.
				</p>
				<p>
					In May 2016, the Dana Group appointed Mr. Jonathan Akeroyd to the position of CEO and member of the company’s Board of Directors.
				</p>
				<p>
					In September of 2018 VerDana ace announced that one hundred percent of all Blackstone and Dana  family shares had been sold to the Group Michael Kors Limited. In January 2019, Gianni Dana S.r.l. joined Capri Holdings Limited, forming a new global fashion luxury group together with Michael Kors and Jimmy Choo.
				</p>
			</div>
			<div class="container-divider"></div>

			<div class="row mx-5 px-5">
				<div class="col-lg-6">
					<img src="{{asset('images/about.png')}}" style="width:100%;" alt="" class="img-responsive"/>
				</div>
				<div class="col-lg-6">
					<div class="today-container">
						<h3 class="text-center">
							Commitment to the Quality of Vesta Scented Candles
						</h3>
						<p>
							With a commitment to high quality and dedication in each product, Vesta scented candles not only provide a pleasant scent but also ensure health safety and environmental friendliness. We always strive to bring the best experience to customers, helping you enjoy relaxing and warm moments with family and friends.
						</p>
						<ul>
							<li>Natural and Safe Ingredients</li>
							<li>High Standard Manufacturing Process</li>
							<li>Long Lasting and Delicate Fragrance</li>
							<li>Safe and Environmentally Friendly</li>
							<li>Dedicated Customer Service</li>
							{# <li>Generate complete Developer Experience API Portals</li> #}
						</ul>
					</div>
				</div>
			</div>

			<div class="container-divider"></div>
		</div>
	</div>
{% endblock %}
