{% extends 'admin.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/admin.css') }}" rel="stylesheet" media="all">
{% endblock %}

{% block body %}
    <section class="header mx-5">
        <div class="container mt-4 mb-3">
            <div class="text-center lh-1 mb-2">
                <h4 class="fw-bold">Voucher Management</h4>
            </div>
            <div class="d-flex justify-content-end">
                <span>VESTA</span>
            </div>
        </div>

        <table class="mt-2 table table-bordered">
            <div class="row">
                <div class="col-lg-6">
                    <h5>Voucher</h5>
                </div>
                <div class="col-lg-6 mx-auto">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-dark me-4" type="button">
                            <a href="{{ path('create_Voucher') }}" class="text-decoration-none text-reset">Add new Voucher</a>
                        </button>
                    </div>
                </div>
            </div>

            <thead class="bg-dark text-white text-center">
                <tr>
                    <th scope="col">Deal</th>
                    <th scope="col">Product Size</th>
                    <th scope="col">Percentage</th>
                    <th scope="col">Description</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            {% for v in Vouchers %}
                <tr class="text-center align-middle">
                    <th scope="row">{{ v.id }}</th>
                    <td>{{ v.deal }}</td>
                    <td>{{ v.percentage }}</td>
                    <td>{{ v.description }}</td>
                    <td>{{ v.startDate|date('Y-m-d') }}</td>
                    <td>{{ v.endDate|date('Y-m-d') }}</td>
                    <td>
                        <a href="{{ path('Voucher_edit', {'id': v.id}) }}">
                            <button class="bi bi-pencil-square border-0 bg-white"></button>
                        </a>    
                    </td>
                    <td>
                        <a href="{{ path('Voucher_delete', {'id': v.id}) }}">
                            <button class="bi bi-trash3 border-0 bg-white" onclick="return confirm('Are you sure to remove?')"></button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}
